@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400&family=Inter:wght@300;400;500;600&family=Noto+Serif+SC:wght@300;400;500;700&display=swap');

body {
  font-family: 'Candara', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:lang(zh-Hans) {
  font-family: 'Candara', 'Noto Serif SC', serif !important;
}

:lang(zh) {
  font-family: 'Candara', 'Noto Serif SC', serif !important;
}